a2pt1console/Connected Services/CalculateTip/Service11.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="CalculateTip">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="sentCheckTotal" type="xs:double" />
        <xs:element minOccurs="0" name="sentTipPercentage" type="xs:double" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CalculateTipResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="calculatedTipTotal" type="xs:double" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>